.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

article {
  border-style: solid;
  border-color: rgb(112, 150, 73);
}

div {
  border-style: solid;
  border-color: rgb(133, 215, 248);
}

.each_recipe {
  margin: 20px;
  padding: 10px;
  display: inline-block;
}

.NewRecipe {
  max-width: 600px;
  display: inline-block;
  padding: 10px;
}

.NewRecipe div {
  border-style: none;
}

.instructions {
  margin: 10px 0px;
}

#food_select {
  border-style: solid;
  border-radius: 6px;
  margin: 10px 0px;
}
