.App {
  text-align: center;
}

.mr-auto * {
  padding: 5px !important;
}

#save-button {
  border: solid;
  border-radius: 5px;
  position: fixed;
  right: 10px;
  margin: 8px;
}

article {
  border-style: solid;
  border-color: rgb(126, 177, 75);
}

div {
  border-style: solid;
  border-color: rgb(133, 215, 248);
}

.each_recipe {
  margin: 20px;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  border-radius: 8px;
  min-width: 300px;
}

.NewRecipe {
  max-width: 600px;
  display: inline-block;
  padding: 10px;
}

.NewRecipe div {
  border-style: none;
}

.instructions {
  margin: 10px 0px;
}

#food_select {
  border-style: solid;
  border-radius: 6px;
  margin: 10px 0px;
}

.ingredient {
  margin: 10px 0px;
}

#navbar * {
  margin-left: 0px 8px;
  white-space: nowrap;
}

.search_bar * {
  margin-right: 8px;
}

#navbar .icon {
  display: none;
}

#drop_search_bar :hover {
  cursor: text !important;
}

#dropdown_search {
  display: none !important;
}
#dropdown_all_recipes {
  display: none !important;
}
#dropdown_selected_recipes {
  display: none;
}

#selected_recipes_badge {
  margin-left: 4px;
}
@media screen and (max-width: 875px) {
  #make_new_recipe {
    display: none;
  }
  #navbar .icon {
    float: right;
    display: inline-flex;
    border-width: 1px;
    border-color: #007bff;
    border-radius: 5px;
    margin: 0px -8px 0px 8px;
  }
  .icon * {
    padding: 6px 12px !important;
  }

  #dropdown_search {
    padding: 0px !important;
  }

  .dropdown-menu {
    padding: 0px !important;
  }
}

@media screen and (max-width: 793px) {
  .search_bar * {
    display: none !important;
  }
  #dropdown_search {
    display: inherit !important;
  }
  #dropdown_make_new_recipe {
    display: inherit;
  }
}

@media screen and (max-width: 485px) {
  #all_recipes {
    display: none !important;
  }
  .mr-auto {
    border: none;
  }
  #dropdown_all_recipes {
    display: inherit !important;
  }
}

@media screen and (max-width: 400px) {
  #save-button {
    position: inherit;
  }
}
@media screen and (max-width: 377px) {
  #selected_recipes_button {
    display: none;
  }
  #dropdown_selected_recipes {
    display: inherit;
  }
}
